.mantine-TextInput-input::placeholder,
.mantine-Textarea-input::placeholder,
.mantine-Select-input::placeholder {
  color: var(--mantine-color-elv-gray-6);
  font-size: 14px;
  font-weight: 500;
}

.mantine-Radio-radio {
  outline-color: var(--mantine-color-elv-neutral-2);
}

.mantine-InputWrapper-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}
